
/* .image {
    width: 400px;
    margin: 10px;
    padding: 25px 25px 65px;
    transition: 2s;
    box-shadow: 10px 10px 25px rgb(221, 219, 209);
  }
  .image:hover {
      width: 450px;
      background: rgb(240, 240, 240);
    }
    */
  
  .parentDiv {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  .profileInfo {
    display: flex;
    position: fixed;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
  }
  
  .profile-avatar {
    object-fit: cover;
    object-position: 100% 50;
    width: 165px;
    height: 165px;
  }
  
  .profileInfo * {
    padding: 10px;
    margin: 5px auto;
    font-family: Fira Code;
  }
  
  .song-scene {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    float: right;
  }
  
  /* edit profile */
  
  .parentDiv {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }


  .editProfileInfo {
    display: flex;
    position: fixed;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
  }
  
  .editProfileInfo * {
    padding: 7px;
    margin: 6px auto;
    font-family: Fira Code;
  }
  
  .box {
    position: relative;
  }
  
  .image2 {
    width: 400px;
    margin: 10px;
    padding: 10px;
    transition: 2s;
    box-shadow: 10px 10px 25px rgb(221, 219, 209);
    position: relative;
  }
  
  .deleteButton {
    position: absolute;
    color: #f93b20;
    font-family: Fira Code;
    transition: 0.5s;
  }
  
  .deleteButton:hover {
    color: white;
    background-color: #f93b20;
  }
  
  .profile-pic {
    width: 150px;
  }
  
  #notLogged {
    display: none;
    position: absolute;
    right: 17%;
    top: 610px;
    font-family: Fira Code;
  }
  
  .succededDiv {
    position: absolute;
    right: 20%;
    top: 620px;
    font-family: Fira Code;
  }

