* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Mantra;
  src: url("./fonts/Mantra-Regular.ttf");
}

@font-face {
  font-family: Comfortaa;
  src: url("./fonts/Comfortaa-Medium.ttf");
}

body{
  background-color: rgba(194, 238, 240, 0.774);
}
/* .addthing{
  height: 10px;
}  */

button{

  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5%;
  background: none;
  margin: 10px auto;
  font-family: Comfortaa;
  font-size: 20px;
  height: 3rem;
}